

<div class="col-lg-12 text-center">
    <p>You can Email me at johan.kantola@outlook.com</p>
    <p>I am also available at social media.</p>
    
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
</div>