


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>About me</h3>
            <pre>Nunc enim arcu, finibus sit amet commodo eu, rhoncus sed enim.
Vestibulum fermentum interdum ipsum, ac sollicitudin nisi auctor vitae. Maecenas tempor placerat viverra.Nam euismod erat vitae 
tristique bibendum. Duis finibus lacus viverra leo dictum consectetur. 
Vivamus erat quam, aliquam at sapien quis, mattis placerat purus. Sed vel aliquam odio. Sed pellentesque sollicitudin congue.
Nullam nisl risus, lacinia ac bibendum id, iaculis quis turpis. Mauris ullamcorper vel turpis id vestibulum. Sed vel aliquam odio.
Quisque posuere finibus tellus, eget porttitor nisi vulputate sit amet. Nunc ac tempor neque, molestie consectetur velit. 
in consectetur laoreet ex, ac vehicula purus vestibulum nec. 
            </pre>
        </div>
        <div class="col-lg-6 text-center">
            <img src="./IMG_1415.jpeg" class="about-Img" alt="me and my wife">
            <p>Me and my wife i Lyon 2017</p>
        </div>
    </div>
</div>

